@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBot {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url("../images/fondAdminLogin.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    width: 200px;
    height: 80px;
    animation: fadeInBot 1s ease-in-out;
}

.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title1 {
    border: ridge rgb(255, 255, 255);
    border-width: 0px 0px 2px 2px;
    border-radius: 0px 0px 0px 15px;
    background-color: rgba(87, 85, 85, 0.2);
    max-width: 450px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInTop 1s ease-in-out;
}

.title {
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 30px 30px 0px 30px;
}

.glyphicon {
    width: 20px;
    height: auto;
}

.logout_btn {
    background-color: rgb(241, 93, 93);
    color: black;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    animation: fadeInTop 1s ease-in-out;
}

.barre1 {
    color: rgba(32, 32, 32, 0.2);
    display: flex;
    justify-content: center;
}

.barre2 {
    color: rgba(255, 255, 255, 0.705);
    display: flex;
    justify-content: center;
}

.LABEL {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.LABEL1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    height: 95%;
    font-family: 'Exo', sans-serif;
    animation: fadeInLeft 1s ease-in-out;
}

.LABEL2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95%;
    font-family: 'Exo', sans-serif;
    animation: fadeInLeft 1s ease-in-out;
}

.case {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    width: auto;
    height: 800px;
}

.case1 {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: rgb(230, 201, 122);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0px 20px 0px 40px;
    background-color: rgba(245, 245, 245, 0.1);
    animation: fadeInLeft 1s ease-in-out;
}

.title_case1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    color: rgb(230, 201, 122);
    font-weight: bold;
    border: 0px 0px 60px 0px;
    animation: fadeInLeft 1s ease-in-out;
}

.case2 {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    color: rgb(230, 201, 122);
    border-radius: 10px;
    width: 65%;
    height: 100%;
    margin: 0px 40px 0px 20px;
    background-color: rgba(245, 245, 245, 0.1);
    animation: fadeInRight 1s ease-in-out;
}

.title_case2 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    color: rgb(230, 201, 122);
    font-weight: bold;
    animation: fadeInRight 1s ease-in-out;
}

.vertical {
    border-left: 1px solid rgba(54, 53, 53, 0.2);
    height: 800px;
    display: inline-block;
    animation: fadeInBot 1s ease-in-out;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInLeft 1s ease-in-out;
}

.prod {
    margin: 20px 20px 5px 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    transition: 0.2s;
    font-size: 16px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    animation: fadeInLeft 1s ease-out;
    margin: 20px 20px 20px 20px;
    background: transparent;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:focus {
    border-image: linear-gradient(to top, transparent, white);
}

.form__field_product {
    width: 20%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: white;
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.form__field {
    width: 100%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: white;
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.form__label {
    transition: 0.2s;
    font-family: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Exo', sans-serif;
}

.form__field::placeholder {
    width: 20px;
    color: transparent;
}

.form__field:focus {
    border-image: linear-gradient(to top, transparent, white);
}

.display_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.display_2_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px;
    border-color: rgb(230, 201, 122);
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    margin: 0px 10px 10px 10px;
    animation: fadeInRight 1s ease-in-out;
}

.display_2_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px;
    border-color: rgb(230, 201, 122);
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    margin: 0px 10px 10px 10px;
    animation: fadeInRight 1s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.Label {
    margin: 30px 30px 30px 30px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_Label {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_Label_T {
    width: 80%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.ResMax {
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_ResMax {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_ResMax {
    width: 80%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.ResMin {
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_ResMin {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_ResMin {
    width: 80%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.PA {
    display: flex;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.PA2 {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_PA {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_PA {
    width: 60%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.PB {
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.PB2 {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_PB {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_PB {
    width: 60%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.button_touche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px 0px 0px;
    animation: fadeInBot 1s ease-in-out;
}

.btn-circle.btn-xl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 25px;
    background-color: rgb(50, 207, 36);
}

.btn-circle.btn-xl:hover {
    background-color: green;
}

.btn-circle.btn-xl::after {
    background-color: rgb(49, 207, 49);
}

.form__label {
    transition: 0.2s;
    font-family: bold;
    font-size: 16px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
}

.select_ref {
    margin: 30px 30px 30px 30px;
}

.form__label_Ref {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_Label_L {
    width: 100%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.Anode {
    margin: 30px 30px 30px 30px;
}

.Anode2 {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_Anode {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_Anode {
    width: 80%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.Cathode {
    margin: 30px 30px 30px 30px;
}

.Cathode2 {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.PB3 {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.form__label_Cathode {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.form__field_Cathode {
    width: 80%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.button_led {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0px 0px 0px;
    animation: fadeInBot 1s ease-in-out;
}

.display2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInRight 1s ease-in-out;
}

.form__field_ref {
    width: 35%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: white;
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.display2_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
    height: 77%;
    border: solid 1px;
    border-color: rgb(230, 201, 122);
    border-radius: 10px;
    font-family: 'Exo', sans-serif;
    margin: 0px 10px 10px 10px;
    animation: fadeInRight 1s ease-in-out;
}

.TensionMax {
    margin: 80px 20px 20px 20px;
    animation: fadeInRight 1s ease-in-out;
}

.form__label_Tmax {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 100px 0px 0px;
}

.form__field_Tmax {
    width: 25%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

::placeholder {
    color: rgb(218, 214, 214);
    font-size: 0.8em;
}

::placeholder::selection {
    background: transparent;
    font-size: 0.8em;
}

.TensionMin {
    margin: 20px 20px 20px 20px;
    animation: fadeInRight 1s ease-in-out;
}

.form__label_Tmin {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 105px 0px 0px;
}

.form__field_Tmin {
    width: 25%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.CourantMax {
    margin: 20px 20px 20px 20px;
    animation: fadeInRight 1s ease-in-out;
}

.form__label_Cmax {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 98px 0px 0px;
}

.form__field_Cmax {
    width: 25%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.CourantMin {
    margin: 20px 20px 20px 20px;
    animation: fadeInRight 1s ease-in-out;
}

.form__label_Cmin {
    transition: 0.2s;
    font-size: 18px;
    color: rgb(61, 60, 60);
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    padding: 0px 100px 0px 0px;
}

.form__field_Cmin {
    width: 25%;
    border-image: linear-gradient(to bottom, transparent, rgb(209, 209, 209));
    border-image-slice: 10;
    color: rgb(255, 255, 255);
    background: transparent;
    padding-bottom: 1px;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}

.button_ref {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px 0px 0px 0px;
    width: 100%;
    height: 100%;
    animation: fadeInBot 1s ease-in-out;
}